ul.autocomplete-content {
  position: absolute !important;
  width: 100%;
  min-width:100%;
}
.autocomplete{
  position:relative;
  background-color: white;
  max-width: 100%;
  width: 100%;
  max-height: calc(100vh /2);
  overflow-y: scroll;
  display:none;
}

.autocomplete.visible{
	display:block;
}

.autocomplete li{
	border-top:1px solid $autocomplete-border;
  cursor:pointer;
	:last-child{
		border-bottom: 1px solid $autocomplete-border;
	}
}
.autocomplete li:hover{
  background-color: $fields-gray;
}

.autocomplete li:last-child{
	border-bottom: 1px solid $autocomplete-border;
}
