@import '../mixin/grid';


.grid {
  @include grid();
}
.grid--justify-center { @include  flex-just(center) }
.grid--justify-start  { @include  flex-just(flex-start) }
.grid--justify-end    { @include  flex-just(flex-end) }
.grid--justify-between { @include  flex-just(space-between) }


.grid__column {
  display:block;
  flex:1;
  margin-left: 0;
	max-width: 100%;
	width: 100%;
}
