$black: #f7f7f7;

$white: #000000;

$light-green: #d002ff;
$main-green: #8ac23f;
$hover-dark-green: #537327;

$main-pink: #ed4a56;

$fields-gray: #f7f7f7;
$fields-disabled: #b7b7b7;
$ultra-light-gray: #dedede;
$text-gray: #787878;
$autocomplete-border: #787878;


$blueLink: #337ab7;

$red: #ff0000;
