@media screen and (min-width: 1025px) and (max-width: 1440px)  {


    .services > div {
      padding: 50px;
      flex-grow: 2;
      flex-basis: 0;
      min-width:450px;
      width:450px;
    }

}
